/*------------------------------------
	:: Fonts
------------------------------------*/

$sans-serif:        "Freight-Sans-Pro", "Helvetica Neue", sans-serif;
$serif:             Georgia, serif;

$header-font:       $sans-serif;
$body-font:         $sans-serif;