extends ../layouts/layout.pug

block title
  title Website Home

block body
  header.p-10
    h1.text-4xl Hello World
    h2.text-2xl Success is not final, failure is not fatal: it is the courage to continue that counts.