::-moz-selection {
  background-color: #fff198;
  color: #1c2f3b;
}

::selection {
  background-color: #fff198;
  color: #1c2f3b;
}

body {
  -webkit-font-smoothing:antialiased; 
  -webkit-text-size-adjust:none; 
}

h1,h2,h3,h4,h5,h6 {
	color: #222;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1;
	margin-bottom:1.5em;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	color: #6f6f6f;
	font-size: 60%;
	line-height: 0;
	text-transform: none;
}

h1 { font-weight:200; font-size: 44px; }
h2 { font-weight:200; font-size: 36px; }
h3 { font-weight:500; font-size: 18px; }
h4 { font-weight:500; font-size: 23px; }
h5 { font-weight:500; font-size: 18px; }
h6 { font-weight:500; font-size: 14px; text-transform: uppercase; color:#444; }