- var title = "Page Title";

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    block title
      title Page Title TBD
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='robots', content='')

    //- HTML5 Shim
    //[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]

    //- Favicon
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')

    //- Viewport Meta Tag
    meta(content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=2.0", name="viewport")

    //- Stylesheet
    link(rel="stylesheet" href="styles.css")
        
  body
    block body